<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/styles/style.css">
    <title></title>
</head>
<body class="max-w-6xl ">
    <header class="flex flex-wrap text-center bg-rose-200 sm:justify-start sm:flex-nowrap z-50 w-full  text-sm p-4 dark:bg-gray-800">
      <nav class=" w-full mx-auto px-4 py-2  sm:flex sm:items-center sm:justify-between" aria-label="Global">
        <a class="flex-none text-xl font-semibold dark:text-white" href="#">Coder!</a>
        <div class="flex flex-col items-center gap-5 mt-5 sm:flex-row sm:justify-end sm:mt-0 sm:pl-5">
         
          <a class="font-medium mx-4 text-gray-600 hover:text-gray-400 dark:text-gray-400  dark:hover:text-gray-500" href="/">Home</a>
          <a class="font-medium mx-4 text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500" href="about">About Us</a>
          <a class="font-medium mx-4 text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500" href="contact">Contact Us</a>
        </div>
      </nav>
    </header>